body {
    font-family: Arial;
    direction: rtl;
    background: #f4f6f8;
    margin: 0;
}

.hero {
    background: #1e3c72;
    color: white;
    text-align: center;
    padding: 40px;
}

.categories {
    text-align: center;
    margin: 20px;
}

.categories button {
    margin: 5px;
    padding: 10px;
    border: none;
    background: #1e3c72;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.search {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

#articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:12px;
}

.tag {
    display: inline-block;
    margin-top: 10px;
    background: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
}
.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #1e3c72;
    font-weight: bold;
    text-decoration: none;
}
.form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input,
.form textarea,
.form select {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form textarea {
    height: 200px;
}

.form button {
    padding: 12px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#loginBox {
    max-width: 400px;
    margin: 100px auto;
}
.article-content {
    line-height: 2;
    font-size: 18px;
}
.article-content {
    line-height: 2;
    font-size: 18px;
    color: #333;
}

.article-content h2 {
    font-size: 28px;
    margin-top: 25px;
}

.article-content p {
    margin: 15px 0;
}

.article-content ul {
    padding-right: 25px;
}

.article-content li {
    margin: 10px 0;
}
.form textarea {
    min-height: 300px;
}
#editor {
    background: white;
    min-height: 300px;
    direction: rtl;
    text-align: right;
}

.ql-editor {
    font-size: 18px;
    line-height: 2;
}
.categories{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
margin:25px;
}

.categories button{

background:#0f4c81;
color:white;

padding:12px 18px;

border:none;

border-radius:25px;

cursor:pointer;

transition:.3s;

font-size:15px;
}

.categories button:hover{

background:#083b66;

transform:translateY(-2px);

}
